<p-contextMenu #cm [model]="contextMenu"></p-contextMenu>

<ng-template #valueTemplate let-row="row" let-column="column">
    {{row[column.field]}}
</ng-template>

<ng-template #funcTemplate let-row let-column>
    {{column.valueProvider(row[column.field], row)}}
</ng-template>
<p-table [columns]="columns" [paginator]="!!pageSize" [rows]="pageSize" [contextMenu]="contextMenu ? cm : null"
    [lazy]="true" [value]="rows" [totalRecords]="total" (onLazyLoad)="load($event)" [loading]="loading" 
    [selectionMode]="getSelectionType()" [(selection)]="selection">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngIf="selectionType === 'checkbox'" style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.sortable ? col.field : null">
                {{col.name}}
                <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr *ngIf="hasFilters">
            <th *ngIf="selectionType === 'checkbox'">
               
            </th>
            <th *ngFor="let col of columns">
                <ng-container *ngIf="col.filtration">
                    <ng-container *ngTemplateOutlet="col.filtration; context: {apply: generateFilterFunc(col)}"> </ng-container>
                </ng-container>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData">
            <td *ngIf="selectionType === 'checkbox'">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
                <ng-container *ngTemplateOutlet="getTemplate(col); context {row: rowData, column: col}"></ng-container>
            </td>
        </tr>
    </ng-template>
</p-table>

